@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<style>
    .login-form {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
    }

        .login-form form {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            margin-top: 50px;
        }

        .login-form h1 {
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
        }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        padding: 10px;
        font-size: 16px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #0056b3;
        }

    .form-group p {
        text-align: center;
    }

    .form-group a {
        color: #007bff;
        text-decoration: none;
    }

        .form-group a:hover {
            text-decoration: underline;
        }
</style>




<div class="container">
    <div class="login-form">
        <form id="account" method="post">
            <h1>Sign up</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label for="email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn" id="login-submit">Sign up</button>
            </div>
            <div class="form-group">
                <p>Click here to create an account. <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Sign up </a></p>
            </div>
            <div class="form-group">
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
